// color
$button_color: #848484;
$logo_color: #434343;
$black: #1f1f1f;
$shadow_color: rgba(0, 0, 0, 0.05);

// font size
$medium_size: 1.6rem;
$small_size: 1.4rem;
$large_size: 1.8rem;

// header
$header_height: 5rem;
