header {
  padding: 2rem;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px $shadow_color;
  position: sticky;

  i {
    cursor: pointer;
  }

  button {
    font-weight: 700;
    font-size: $small_size;
  }
}
