extends base
include mixins/artwork

block content 
    main.artDetail__main 
        div.target
            img.target__img(src=imgSrc)
            div.artist
                div.artist__info
                    img(src="https://atelier4u.kr/content/images/2024/08/------------3.webp")
                    div
                        span.info__name 베르트 모리조
                        span.info__detail 인상주의 화가 | 팔로워 320명
                include partials/follow-btn.pug

        div.artDetail__list
            h1 다른 유사한 작품
            div
                each artwork in artworks
                    +artwork(artwork)