extends base
include mixins/art-work

block content 
    include partials/category

    main.home__main
        div.home__list    
            each artWork in artWorks
                +artWork(artWork)

block scripts 
    script(src="/js/home.js")
