nav.shadow 
    ul
        li(data-id="impressionist")#selected 인상주의
        li(data-id="post_impressionist") 후기인상주의
        li(data-id="realist") 사실주의
        li(data-id="romantic") 낭만주의

block scripts 
    script(src="/js/category.js")
        