nav.shadow 
    ul
        li.impressionist#selected 인상주의
        li.post-impressionist 후기인상주의
        li.realist 사실주의
        li.romantic 낭만주의

block script 
    script(src="/js/category.js")
        